.navbar {
    justify-content: space-between;
    align-items: left;
    padding: 10px 20px;
    margin-bottom: 10px;
    display: flex;
}

.breadcrumb {
    display: inline-block;
    font-weight: 600;
    font-size:1.25rem;
    transform: skew(-7deg);
    background: var(--tum-pink-4);
    color: var(--tum-blue-dark);
    padding: 10px;
    padding-left:20px;
    padding-right:20px;
    margin-right: 5px;
    box-shadow: 5px 5px 3px  var(--tum-grey-8);
    @media (max-width: 1005px) {
        font-size: 1rem;
        padding-left: 7px;
        padding-right:7px;
        transform: skew(-10deg);
        box-shadow: 3px 3px 2px  var(--tum-grey-8);
    }
}

.breadcrumb:hover {
    background: var(--tum-pink-3);
    color: var(--tum-blue-dark-1);
}

.breadcrumbspacer {
    flex-grow: 1;
}

.btn {
    display: flex;
    font-weight: 300;
    @media(max-width: 1005px) {
        font-size: 1.5rem;
    }
    @media(min-width: 1005px) {
    }
    border: none;
    font-size: 2rem;
    padding: 15px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 15px;
    background: var(--tum-grey-9);
    box-shadow: 10px 10px 5px  var(--tum-grey-7);
}
.btn:hover {
    background: var(--tum-pink-4);
    color: var(--tum-pink-dark);
}
.btn:disabled {
    background: var(--tum-pink-6);
    color: var(--tum-grey-8);
}