.btn {
    font-weight: bold;
    width: 80px;
    border: none;
    font-size: 3rem;
    border-radius: 15px;
    padding-top:15px;
    margin-bottom: 20px;
    background: var(--tum-grey-9);
    box-shadow: 10px 10px 5px  var(--tum-grey-7);
}
.btn:hover {
    background: var(--tum-pink-4);
    color: var(--tum-pink-dark);
}