.wrapper {
  width: 100%;
  padding: 1rem 20px 3rem;
}
.appbody{
  @media (max-width: 1005px) {
    max-width:  500px;
  };
  @media (min-width: 1005px) {
    max-width:  1000px;
  };
  margin: 0 auto;
}

.title {
    display: inline;
    font-size: 3rem;
    font-weight: 1000;
    text-align: center;
    margin-bottom:1rem;
    @media (max-width: 1005px) {
        font-size: 1.8rem;
      }
  }
.titlebar {
  @media (min-width: 1920px) {
    display: flex;
    justify-content: center;
  }
}
.icon {
  vertical-align: -10%;
}