.wrapper {
  width: 100%;
  padding: 1rem 20px 3rem;
}
.appbody{
  @media (min-width: 1005px) {
    max-width:  1000px;
  };
  margin: 0 auto;
}

.title {
    font-size: 3rem;
    text-align: center;
    margin-bottom:1rem;
    @media (max-width: 1005px) {
        font-size: 1.8rem;
      }
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: 1px solid var(--tum-blue-dark-4);
  }
.titlebar {
  @media (min-width: 1920px) {
    justify-content: center;
  }
}
.icon {
  vertical-align: -10%;
}