.btn {
    font-weight: 300;
    @media(max-width: 1005px) {
        width: 100%;
        border-radius: 15px;
    }
    @media(min-width: 1005px) {
        border-radius: 40px;
        width: 98%;
    }
    border: none;
    font-size: 5rem;
    padding-top:15px;
    margin-bottom: 20px;
    background: var(--tum-grey-9);
    box-shadow: 10px 10px 5px  var(--tum-grey-7);
}
.btn:hover {
    background: var(--tum-pink-4);
    color: var(--tum-pink-dark);
}
.btn:disabled {
    background: var(--tum-pink-6);
    color: var(--tum-grey-8);
}
.listslayout {
    display: grid;
    @media(min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5px;
    }
    @media(max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.hofnav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    grid-gap: 2px;
    padding-left: 0px;
    list-style-type: none;
}

.hofbutton {
    padding: 7px;
    padding-bottom:12px;
    border-bottom: 0px;
    border-width: 1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: var(--tum-pink-4);
    color: var(--tum-pink-dark); 
    border-color: var(--tum-pink-dark);
}

.goTop_hidden {
    display: none;
}
.goTop {
    display: block;
}
.goTop_text {
    position: fixed;
    background: rgba(252,248,241,0.8);
    box-shadow: 2px 2px 5px var(--tum-grey-7);
    width: 35px;
    height: 35px;
    border-radius: 25px;
    bottom: 5%;
    left:50%;
    padding:5px;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
}
.goTop_text:hover {
    background: rgba(242,238,231,1);
}
.navbar {
    justify-content: space-between;
    align-items: left;
    padding: 10px 20px;
    margin-bottom: 10px;
    display: flex;
}

.breadcrumb {
    display: inline-block;
    font-weight: 600;
    font-size:1.25rem;
    transform: skew(-7deg);
    background: var(--tum-pink-4);
    color: var(--tum-blue-dark);
    padding: 10px;
    padding-left:20px;
    padding-right:20px;
    margin-right: 5px;
    box-shadow: 5px 5px 3px  var(--tum-grey-8);
    @media (max-width: 1005px) {
        font-size: 1rem;
        padding-left: 7px;
        padding-right:7px;
        transform: skew(-10deg);
        box-shadow: 3px 3px 2px  var(--tum-grey-8);
    }
}

.breadcrumb:hover {
    background: var(--tum-pink-3);
    color: var(--tum-blue-dark-1);
}

.breadcrumbspacer {
    flex-grow: 1;
}

.btn {
    display: flex;
    font-weight: 300;
    @media(max-width: 1005px) {
        font-size: 1.5rem;
    }
    @media(min-width: 1005px) {
    }
    border: none;
    font-size: 2rem;
    padding: 15px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 15px;
    background: var(--tum-grey-9);
    box-shadow: 10px 10px 5px  var(--tum-grey-7);
}
.btn:hover {
    background: var(--tum-pink-4);
    color: var(--tum-pink-dark);
}
.btn:disabled {
    background: var(--tum-pink-6);
    color: var(--tum-grey-8);
}