.checkpointList{
    list-style-type: none;
    background: none;
}
.checkpointItem{
    cursor: pointer;
    padding: 8px;
    display: block;
    padding-left: 30px;
}
.checkpointItem:nth-child(odd) {
    background-color: var(--tum-blue-light-3);
}
.checkpointItem:nth-child(even) {
    background-color: var(--tum-blue-light-4);
}
.deleteButton{
    border: none;
    background: none;
    color: red;
    
}
.deleteButton:hover{
    cursor: pointer;
    color: var(--tum-red-dark);
}
.megaicon {
    filter: drop-shadow(5px 5px 1px var(--tum-grey-7));
    padding: 3px;
    margin: 0 auto;    
    text-align: center;
    justify-content: center;
    font-size: 10rem;
    display: block;
    color: var(--tum-orange-dark);
}
.icon {
    display: inline;
    color: red;
    font-size: 3rem;
    vertical-align: -15%;
    margin-right: 10px;
    filter: drop-shadow(5px 5px 1px var(--tum-grey-7));
}
.cloudicon {
    display: inline;
    font-size: 3rem;
    filter: drop-shadow(5px 5px 1px var(--tum-grey-7));
    vertical-align: -20%;
    color: var(--tum-blue-light);
}
.checkpointname {
    display: inline;
    font-size: 1.5rem;
    color: var(--tum-blue-dark-3);
}
.editicon {
    display: inline;
    color: var(--tum-blue-dark-3);
    font-size: 3rem;
    vertical-align: -15%;
    margin-right: 10px;
    filter: drop-shadow(5px 5px 1px var(--tum-grey-7));
}
.cloneicon {
    float: right;
    display: inline;
    color: purple;
    font-size: 2.5rem;
    vertical-align: -10%;
    margin-right: 10px;
    filter: drop-shadow(5px 5px 1px var(--tum-grey-7));
}
.title {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--tum-blue-dark-4);
}