.item {
    font-size: 1.5rem;
    list-style-type: none;
    border-bottom: 1px solid var(--tum-grey-7);
    background: var(--tum-grey-9);
    border-radius:10px;
    margin-bottom:5px;

}

.metadata {
    display: inline;
}
.leftbutton {
    font-size:1.5rem;
    float:left;
    margin-right: 10px;
    outline: none;
    border: none;
    padding: 0;
    background:none;
    size: auto;
    color: var(--checkmarks-green);
}
.leftbutton:hover {
    color: var(--checkmarks-darkgreen);
    border-radius: 5px;
}
.warningsym {
    font-size: 1.5rem;
    float: right;
    margin-right: 0px;
}
.rightbutton {
    color: var(--tum-red);
    font-size:1.5rem;
    float: right;
    margin-left:10px;
    outline: none;
    border: none;
    padding: 0;
    margin-right:5px;
    background: none;
}
.rightbutton:hover {

    color: var(--tum-red-dark);
    border-radius: 5px;
}

