.item {
    font-size: 1rem;
    list-style-type: none;
    border-bottom: 1px solid #e0e0e0;
    background: #f0efef;
}
.metadata {
    display: inline;
}
.leftbutton {
    float:left;
    margin-right: 10px;
    outline: none;
    border: none;
    padding: 0;
    background:none;
    size: auto;
}
.leftbutton:hover {
    background:#27e406;
}
.rightbutton {
    float: right;
    margin-left:10px;
    outline: none;
    border: none;
    padding: 0;
}