.container{
    position: relative;
    width: 100%;
    padding: none;
    margin-bottom:1em;
}
.btn {
  position: absolute;
  background: none;
  top: 0.5em;
  right: 0.5em;
  color: red;
  font-size: 3rem;
  border: none;
  cursor: pointer;
}
.btn:hover {
  color: var(--tum-orange);
}