.scanbutton {
    @media(max-width: 1005px) {
        font-size:12rem;
        padding-top:30px;
    }
    @media(min-width: 1005px) {
        font-size:4rem;
        padding-top:20px;
    }
    float: center;
    outline: none;
    border: none;

    width: 98%;
    border-radius:40px;
    margin-bottom: 20px;
    background: var(--tum-grey-9);
    box-shadow: 10px 10px 5px  var(--tum-grey-7);
}
.scanbutton:hover {
    background: var(--tum-pink-4);
    color: var(--tum-pink-dark);
}
