.title {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--tum-blue-dark-4);
}
.megaicon {
    filter: drop-shadow(5px 5px 1px var(--tum-grey-7));
    padding: 3px;
    margin: 0 auto;    
    text-align: center;
    justify-content: center;
    font-size: 10rem;
    display: block;
    color: var(--tum-orange-dark);
}
.table{
    width: 100%;
    font-size: 2rem;
}
.table td {
    padding: 10px;
}
.table input {
    width: 100%;
    border: none;
    padding: 15px;
    font-size: 2rem;
    background-color: var(--tum-blue-light-4);
    color: var(--tum-blue-dark);
}
.icon {
    cursor: pointer;
    filter: drop-shadow(2px 2px 1px var(--tum-blue-light-2));
    vertical-align: -15%;
    color: red;
    margin-right: 20px;
    font-weight: bold;
    font-size:3rem;
}
.connectionicon {
    filter: drop-shadow(2px 2px 1px var(--tum-blue-light-2));
    vertical-align: -15%;
    color: var(--tum-orange-dark);
    margin-right: 20px;
    font-weight: bold;
    font-size:3rem;
}
.center {
    text-align: center;
}
.input {
    font-family: "Monotype.com", monospace;
}