.burger {
  display: inline;
  border: none;
  background: none;
  padding: 10px;
  font-size:5rem;
  margin-right: 10px;
  @media (max-width: 1005px) {
    font-size: 3rem;
  }
  @media (min-width: 1920px) {
    display: none;
  }
}
.burger:hover {
  cursor: pointer;
  background: var(--tum-pink-4);
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--tum-blue-dark);
  overflow-x: hidden;
  transition: 0.25s;
  @media (min-width: 1920px) {
    width: 440px;
  }
}

.logo {
  width: 100px;
  margin: 0px;
  margin-bottom: 20px;
  text-align: center;
}

.closebtn {
  font-size:4rem;
  font-weight: bold;
  color: white;
  background: none;
  border:none;
  position: absolute;
  top: 15px;
  right: 35px;
  @media (max-width: 1005px) {
    font-size: 4rem;
  }
  @media (min-width: 1920px) {
    display: none;
  }
}
.closebtn:hover {
  cursor: pointer;
  color: var(--tum-red-dark);
}
.overlayContent {
  position: relative;
  top: 5%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  @media (min-width: 1920px) {
    text-align: left;
    margin-left: 20px;
  }
}
.majorItems {
  cursor: pointer;
  padding: 8px;
  text-decoration: none;
  font-size: 2rem;
  color: var(--tum-orange-3);
  display: block;
  transition: 0.3s;
  @media (max-width: 1005px) {

  }
  @media (min-width: 1920px) {

  }
  
}
.minorMenu {
  list-style-type: none;
  text-align: center;
  @media (min-width: 1920px) {
    text-align: left;
    margin-left: 50px;
  }
}
.minorItems {
  cursor: pointer;
  padding: 8px;
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--tum-grey-7);
  display: block;
  transition: 0.3s;
  @media (max-width: 1005px) {
    font-size: 1.4rem;
  }
  @media (min-width: 1920px) {
    font-size: 1.4rem;
  }
}

.icon {
  vertical-align: -10%;
}

