.item {
    list-style-type: none;
}
.stat {
    display: inline;
}
.colored {
    font-size: .8rem;
    display:inline;
    color: var(--tum-pink);
    margin-bottom:5px;
}
.colored:hover {
    color: var(--tum-red);
    cursor: pointer;    
}